@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Register Movie?</h1>
    <p>Click <a asp-controller="Home" asp-action="Movies">here</a> to register movies.</p>
</div>
